on:
  push:
    branches:
      - main
  pull_request:
  
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
      - run: curl --silent -L https://github.com/Shopify/toxiproxy/releases/download/v2.1.2/toxiproxy-server-linux-amd64 -o ./toxiproxy-server
      - run: chmod +x ./toxiproxy-server
      - run: nohup bash -c "./toxiproxy-server > ./toxiproxy.log 2>&1 &"
      - run: mix deps.get
      - run: mix test
